@page "{id?}"
@model Redi.WebUi.Pages.Stakers.DetailsModel
@{
}

<h1>Staker Details</h1>
<div>
    <dl>
        <dt>Id</dt>
        <dd>@Model.StakerDetails.Id</dd>
        <dt>Email</dt>
        <dd>@Model.StakerDetails.Email</dd>
        <dt>First Name</dt>
        <dd>@Model.StakerDetails.FirstName</dd>
        <dt>Last Name</dt>
        <dd>@Model.StakerDetails.LastName</dd>
    </dl>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-primary" asp-page="./edit" asp-route-id="@Model.StakerDetails.Id">Edit</a>
    }
</div>
<hr />
<h2>Current Memberships</h2>
<div>
    <table>
        <tr>
            <th>Container Name</th>
            <th>Local Stake</th>
            <th>Stake</th>
        </tr>
        @foreach (var membership in Model.StakerDetails.Memberships)
        {
            <tr>
                <td>@membership.ContainerName</td>
                <td>@Decimal.Round(membership.LocalStake, 5)</td>
                <td>@Decimal.Round(membership.Stake, 5)</td>
            </tr>
        }
    </table>
</div>
<hr />
<h2>Profits</h2>
<div>
    <table>
        <tr>
            <th>Date</th>
            <th>Stake</th>
            <th>Profit</th>
        </tr>
        @foreach(var profit in Model.StakerDetails.Profits)
        {
            <tr>
                <td>@profit.Date</td>
                <td>@Decimal.Round(profit.Stake, 5)</td>
                <td>@profit.Profit.ToString("C")</td>
            </tr>
        }
    </table>
</div>


