@page "{id?}"
@model Redi.WebUi.Pages.Stakers.EditModel
@{
    ViewData["Title"] = "Edit Staker";
}

<h1>Edit Staker</h1>
<div>
    <form method="post">
        <div class="form-group row mt-1">
            <label class="col-2 col-form-label" asp-for="@Model.UpdateRequest.Email">Email</label>
            <div class="col-4">
                <input class="form-control" type="email" asp-for="@Model.UpdateRequest.Email" />
            </div>            
        </div>
        <div class="form-group row mt-1">
            <label class="col-2 col-form-label" asp-for="@Model.UpdateRequest.FirstName">First Name</label>
            <div class="col-4">
                <input class="form-control" type="text" asp-for="@Model.UpdateRequest.FirstName" />
            </div>            
        </div>
        <div class="form-group row mt-1">
            <label class="col-2 col-form-label" asp-for="@Model.UpdateRequest.LastName">Last Name</label>
            <div class="col-4">
                <input class="form-control" type="text" asp-for="@Model.UpdateRequest.LastName" />
            </div>            
        </div>
        <div class="form-group row mt-1">
            <label class="col-2 col-form-label" asp-for="@Model.UpdateRequest.Role">Role</label>
            <div class="col-4">
                <input class="form-control" type="text" asp-for="@Model.UpdateRequest.Role" />
            </div>            
        </div>
        <button class="btn btn-success mt-2" type="submit">Save</button>
        <a class="btn btn-primary mt-2" asp-page="./details" asp-route-id="@Model.UpdateRequest.Id">Back</a>
    </form>
</div>
