@page
@model Redi.WebUi.Pages.Stakers.IndexModel
@{
}

<h1>Stakers</h1>
<div>
    <a class="btn btn-success" asp-page="./register">Register</a>
    <table class="table">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Email</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
        @foreach(var staker in Model.Stakers)
        {
            <tr>
                <th scope="row">@staker.Id</th>
                <td>@staker.Email</td>
                <td>@staker.FirstName</td>
                <td>@staker.LastName</td>
                <td>@staker.Role</td>
                <td>
                    <a class="btn btn-primary mt-1" asp-page="./details" asp-route-id="@staker.Id">Details</a>
                    <a class="btn btn-danger mt-1" asp-page="./delete" asp-route-id="@staker.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
