@page
@model Redi.WebUi.Pages.Stakers.IndexModel
@{
}

<h1>Stakers</h1>
<div>
    <a class="btn btn-success" asp-page="./register">Register</a>
    <table>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th></th>
        </tr>
        @foreach(var staker in Model.Stakers)
        {
            <tr>
                <td>@staker.Id</td>
                <td>@staker.Email</td>
                <td>@staker.FirstName</td>
                <td>@staker.LastName</td>
                <td>@staker.Role</td>
                <td>
                    <a class="btn btn-primary" asp-page="./details" asp-route-id="@staker.Id">Details</a>
                    <a class="btn btn-danger" asp-page="./delete" asp-route-id="@staker.Id">Delete</a>
                </td>
            </tr>
        }
    </table>
</div>
