@page
@model Redi.WebUi.Pages.Containers.IndexModel
@{
    ViewData["Title"] = "List Containers";
}

<h1>Containers</h1>
<hr />
<div>
    <form class="d-inline" method="post" asp-page-handler="create">
        <div class="form-group row">
            <label class="col-form-label col-1" asp-for="@Model.CreateContainerRequest.Name">Name</label>
            <div class="col-4">
                <input class="form-control" asp-for="@Model.CreateContainerRequest.Name" />
            </div>
            <div class="col-auto">
                <button class="btn btn-success" type="submit">Create</button>
            </div>
        </div>       
        
    </form>
</div>
<hr />
<div>
    <table class="table">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Parent Name</th>
            <th scope="col">Stake</th>
            <th scope="col">Local Stake</th>
            <th scope="col"></th>
        </tr>
        @foreach (var container in Model.Containers)
        {
            <tr>
                <th scope="row">@container.Id</th>
                <td>@container.Name</td>
                <td>@(container.ParentName ?? "No Parent")</td>
                <td>@Decimal.Round(container.Stake, 5)</td>
                <td>@Decimal.Round(container.LocalStake, 5)</td>
                <td>
                    <a class="btn btn-primary mt-1" asp-page="details" asp-route-id="@container.Id">Details</a>
                    <form class="d-inline" method="post" asp-page-handler="delete">
                        <input type="hidden" asp-for="@Model.DeleteContainerRequest.Id" value="@container.Id" />
                        <button class="btn btn-danger mt-1" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</div>
