@page
@model Redi.WebUi.Pages.Containers.IndexModel
@{
}

<h1>Containers</h1>
<div>

    <form class="d-inline" method="post" asp-page-handler="create">
        <label asp-for="@Model.CreateContainerRequest.Name">Name</label>
        <input asp-for="@Model.CreateContainerRequest.Name" />
        <button class="btn btn-success d-inline" type="submit">Create</button>
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Parent Name</th>
            <th>Stake</th>
            <th>Local Stake</th>
            <th></th>
        </tr>
        @foreach( var container in Model.Containers)
        {
            <tr>
                <td>@container.Id</td>
                <td>@container.Name</td>
                <td>@(container.ParentName ?? "No Parent")</td>
                <td>@Decimal.Round(container.Stake, 5)</td>
                <td>@Decimal.Round(container.LocalStake, 5)</td>
                <td>
                    <a class="btn btn-primary" asp-page="details" asp-route-id="@container.Id">Details</a>
                    <form class="d-inline" method="post" asp-page-handler="delete">
                        <input type="hidden" asp-for="@Model.DeleteContainerRequest.Id" value="@container.Id" />
                        <button class="btn btn-danger" type="submit">Delete</button>
                    </form>
                </td>
            </tr>            
        }
    </table>
</div>
